.theme-calculator {
  height: 100%;
  width: 100%;
  background-color: #A8A8A8;
  border: 1px solid;
}

.paper-button-numbers{
  background-color: #282828;
  font-size: 100;
  color: #FFFFFF
}

.paper-button-operands{
  background-color: #505050;
  font-size: 25;
  color: #FFFFFF
}

.theme-display {
  height: 30px;
  width: 100%;
  margin-left: 1px;
  text-align: right;
  font-size: 30px;
  color: #585858; 
  margin-bottom: 5px;
  float: center;
}

.header{
  color: #A8A8A8;
  text-align: center
}